<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <img
          src="public/logo.png"
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="home" class="nav-link px-2 link-body-emphasis">Home</a></li>
        <li>
          <a href="library" class="nav-link px-2 link-body-emphasis">Discover</a>
        </li>
        <li>
          <a href="community" class="nav-link px-2 link-body-emphasis">Share</a>
        </li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <!--app-searchbar-->
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <div class="dropdown text-end">
        @if (loggedIn()) {
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="public/favicon.ico"
              alt="profile pic"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">My collection</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" (click)="logOut()">Sign out</a></li>
          </ul>

        } @else {
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="modal"
            data-bs-target="#authModal"
            aria-expanded="false"
          >
            <img
              src="public/favicon.ico"
              alt="profile pic"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <app-modal (statusUpdate)="loginStatusUpdate($event)"></app-modal>
        }
        
      </div>
    </div>
  </div>
</header>
