# Nombre del contenedor que aloja base de datos
DB_HOST=base-db-1

# Credenciales de conexión a PostgreSQL
DB_USER=postgres_exporter
DB_PASSWORD=exporter_pass

# Puerto de PostgreSQL (normalmente 5432)
DB_PORT=5432

# Base de datos a monitorizar
DB_NAME=mydb

# Nombre de la red usada por el stack a analizar
DB_NETWORK=stack_network

# Credenciales de Grafana
GF_USER=user
GF_PASSWORD=password
