<form id="loginForm" (submit)="userLogin($event)">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      id="email"
      type="email"
      class="form-control"
      [value]="email()"
      (input)="email.set(txtEmail.value)"#txtEmail
      required
    />
    <div class="form-text">We'll never share your email.</div>
  </div>

  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <div class="input-group">
      <input
        id="pwd"
        class="form-control"
        [value]="password()"
        [type]="type_text()"
        (input)="password.set(txtPassword.value)"#txtPassword
        required
      />
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="togglePassword()"
        [attr.aria-label]="showPassword() ? 'Ocultar contraseña' : 'Mostrar contraseña'"
      >
        <i class="fa"
           [class.fa-eye]="showPassword()"
           [class.fa-eye-slash]="!showPassword()"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="remember" />
    <label class="form-check-label" for="remember">Remember me</label>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!formIsValid()"
    [attr.data-bs-dismiss]="formIsValid() ? 'modal' : null">
    Submit
  </button>
</form>
