global
    log stdout format raw local0
    maxconn 200

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  30s
    timeout server  30s
    maxconn 200

frontend postgres
    bind *:5432
    default_backend pg_pool

backend pg_pool
    balance first
    option tcp-check
    tcp-check connect
    server master passive-db-master-1:5432 check inter 2s fall 3 rise 2 maxconn 190
    server replica passive-db-replica-1:5432 check inter 2s fall 3 rise 2 backup maxconn 190

