<!-- register-form.component.html -->
<form id="registerForm" novalidate (submit)="registerUser($event)">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      #txtEmail
      [value]="email()"
      (input)="email.set(txtEmail.value)"
      (blur)="formValid()"
      [class.is-invalid]="submitted() && !emailValid()"
      [class.is-valid]="submitted() &&  emailValid()"
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="username"
      #txtUsername
      [value]="username()"
      (input)="username.set(txtUsername.value)"
      (blur)="formValid()"
      [class.is-invalid]="submitted() && !usernameValid()"
      [class.is-valid]="submitted() &&  usernameValid()"
      required
    />
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      #txtPassword
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      title="Debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial."
      [value]="password()"
      (input)="password.set(txtPassword.value)"
      (blur)="formValid()"
      [class.is-invalid]="submitted() && !passwordValid()"
      [class.is-valid]="submitted() &&  passwordValid()"
      required
    />

    <small id="passwordError"
           class="text-danger"
           [class.d-none]="!submitted() || passwordValid()">
      La contraseña debe tener al menos 8 caracteres, incluyendo mayúsculas,
      minúsculas, números y un carácter especial.
    </small>
    <br>
    <a href="#" class="text-danger">Forgot Password?</a>&nbsp;&nbsp;&nbsp;
    <a href="#">Don't have an account?</a>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!formIsValid()"
    [attr.data-bs-dismiss]="formIsValid() ? 'modal' : null">
    Submit
  </button>
  
</form>
